



html,
body {

    margin: 0;
    padding: 0;

}

body {
    height: 100%;
    display: flex;
    flex-direction: column;

    padding: 20px;
    font-size: 20px;
    font-family: 'bauhaus 93';
    background-color: #86bbd8;
    color: rgb(27, 27, 20);

}


.header {
    display: flex;
    align-items: center;      /* centre verticalement */
    width: 90vw;
    max-width: 1900px;
    margin: 10px auto 10px auto;
}

.favicon_image {
    height:100%;
    width: auto;
    max-height: 200px; /* hauteur maximale de l'icône */
    max-width: 200px; /* largeur maximale de l'icône */
    display: flex;
    align-items: center;
    height: clamp(80px, 6vw, 80px); /* adapte la hauteur */
}

.hublot {
    position: relative;
    width: 220px; /* adapte à la taille de ton hublot */
    height: 220px;
}

.image_hublot {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.image_profil {
    position: absolute;
    top: 15%; left: 15%; /* ajuste pour centrer dans le hublot */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;;
    z-index: 2;
}

<<<<<<< HEAD
.Banderolle_Top {
    background-color: #33658a;
}

.
=======










.Right_Side_Handicap {
    display: flex;
    align-items: center;
    gap: 12px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;
    margin-left: 8px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 26px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
}
.switch input:checked + .slider {
    background-color: #000000;
}
.switch input:checked + .slider:before {
    transform: translateX(22px);
}
#RQTH_value {
    min-width: 32px;
    font-weight: bold;
    color: #222;
    margin-left: 6px;
}
>>>>>>> 6f3be3d3837119479828f9c650af96364491d87a
