
/* CLAUDE EST LE PIRE ENCULE DU MONDE */


html,
body {

    margin: 0;
    padding: 0;

}

body {
    height: 100%;
    display: flex;
    flex-direction: column;

    padding: 20px;
    font-size: 20px;
    font-family: 'bauhaus 93';
    background-color: #86bbd8;
    color: rgb(27, 27, 20);

}


.header {
    display: flex;
    align-items: center;      /* centre verticalement */
    width: 90vw;
    max-width: 1900px;
    margin: 10px auto 10px auto;
    background-color: #33658a;
    border-radius : 50px;
}


.favicon_image {
    height:100%;
    width: auto;
    max-height: 200px; /* hauteur maximale de l'icône */
    max-width: 200px; /* largeur maximale de l'icône */
    display: flex;
    align-items: center;
    height: clamp(80px, 6vw, 80px); /* adapte la hauteur */
}










.hublot {
    position: relative;
    width: 220px; /* adapte à la taille de ton hublot */
    height: 220px;
}

.image_hublot {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.image_profil {
    position: absolute;
    top: 15%; left: 15%; /* ajuste pour centrer dans le hublot */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;;
    z-index: 2;
}



