html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'bauhaus 93';
    background-color: #86bbd8;
    color: rgb(27, 27, 20);
}

.banderole_main {
    display: flex; 
    flex-direction: row;
    align-items: stretch;
    width: 1500px; /* largeur de la banderole */
    max-width: 1500px;
    height: 440px; /* hauteur de la banderole */
    background-color: #33658a;
    border-radius: 30px;
    margin: 200px auto 500px auto; /* marge pour centrer la banderole */
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.banderole_left {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;


}

.banderole_right {
    flex: 3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 500px 20px 40px;
    /* Bordure blanche arrondie comme sur ton image */
    border: 7px solid #fff;
    border-radius: 60px 0px 30px 0;
    margin: 212px 0px 0px 0px;
    background: transparent;
    box-sizing: border-box;
}

.allez_on_boss {
    color: #fff;
    font-size: 60px;
    font-family: 'bauhaus 93', sans-serif;
    font-weight: bold;
    text-align: Left;
    line-height: 1.1;
    letter-spacing: 3px;

}

 /*p {
    text-align: center;
    font-size: 24px;
    color: #f0f0f0;
    
}
    */
.logo {
    height: 400px; /* hauteur */
    width: auto; /* largeur */
    margin-right: 100px;
    margin-left: 100px;
}