html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'bauhaus 93';
    background-color: #86bbd8;
    color: rgb(27, 27, 20);
}

.banderole_main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 1500px;
    /* largeur de la banderole */
    max-width: 1500px;
    height: 440px;
    /* hauteur de la banderole */
    background-color: #33658a;
    border-radius: 30px;
    margin: 200px auto 200px auto;
    /* marge pour centrer la banderole */
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.banderole_left {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;


}

.banderole_right {
    flex: 3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 100px 20px 40px;
    /* Bordure blanche arrondie comme sur ton image */
    border: 7px solid #fff;
    border-radius: 120px 0px 30px 0;
    margin: 120px 0px 0px 0px;
    background: transparent;
    box-sizing: border-box;
}

.allez_on_boss {
    color: #fff;
    font-size: 130px;
    font-family: 'bauhaus 93', sans-serif;
    font-weight: bold;
    text-align: left;

    line-height: 1.1;
    letter-spacing: 3px;

}



.logo {
    height: 400px;
    /* hauteur */
    width: auto;
    /* largeur */
    margin-right: 100px;
    margin-left: 100px;
}

.espace_candidat_bouton {
    background-color: #fff;
    color: #000000;
    width: 340px;
    /* largeur du bouton*/
    height: 100px;
    /* Hauteur du bouton*/
    text-align: left;
    font-family: 'bauhaus 93', sans-serif;
    border-radius: 50px;
    padding: 0 20px;
    border: 5px solid #000000;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    /* espace entre le texte et l'image */

}

.candidat_logo {
    height: 50px;
    /* hauteur */
    width: auto;
    /* largeur */
    margin: auto;
}

.espace_entreprise_bouton {
    background-color: #fff;
    color: #000000;
    width: 340px;
    /* largeur du bouton*/
    height: 100px;
    /* Hauteur du bouton*/
    text-align: left;
    font-family: 'bauhaus 93', sans-serif;
    border-radius: 50px;
    padding: 0 20px;
    border: 5px solid #000000;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    /* espace entre le texte et l'image */

}

.espace_boutons {
    display: flex;
    justify-content: center;
    /* centre les boutons */
    width: auto;
    gap: 30px;
    /* espace entre les boutons */
    padding: 0;
    /* marge intérieure pour centrer les boutons */
    margin-top: 0px;
    /* espace entre la banderole et les boutons */
    margin-bottom: 50px;
}